#bod{
	background-color: #ffffff;
	margin: 0px;
	font-family: Arial;
 }

header{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	background-color: #D54949;
	text-align: right;
	color: #DEE4EA;
	font-family: Arial;
	font-size: 40px;
}

#but{
	background-color: #212529;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#but{
	background-color: #A5A5A5;
    border: none;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
		
	}
#img{
	position: absolute;
	top: 10px;
	right: 1200px;
	bottom: 10px;
	left: 50px;
	}
#ho{
	position: absolute;
	text-align-last: left;
	padding-top: 27px;
	padding-left: 27px;
	font-size: 13px;

}
.link{

	text-decoration: none;
	color: #ffffff;
}

#ains{

	background-color: #DEE4EA; 
	position: fixed; 
	left: 0px; 
	bottom: 0px;
	top: 80px;

}

#h1{
	padding-top: 70px;
	color: #A5A5A5;
	text-align: left;
	padding-left: 15px;
	padding-right: 0px;
	
}

 h2{
	color: #D94917;
	text-align: left;
	padding-bottom: 30px;
	padding-top: 0px;
	padding-left: 15px;
	}

	#but2{
	background-color: #D54949;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}


#but3{
	background-color: #D54949;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


#lb3{
	position: absolute;
	text-align-last: left;
	padding-top: 0px;
	left: 110px;
	top: 10px;	
	
}
#name{
	position: absolute;
	left: 350px;
	top: 150px;
}
#pin{
	padding-top: 50px;
	color: #A5A5A5;
	padding-left: 550px;

}
#nom{
	padding-top: 10px;
	color: #A5A5A5;
	padding-left: 350px;
}
#p5{
	position: absolute;
	left: 350px;
	top: 250px;
}
#ps{
	position: fixed;
	text-align: center;
	padding-right: 200px;
	padding-left: 200px;
	left: 450px;
	top: 140px;
	bottom: 500px;
	font-family: Arial;	
	font-size: 25px;
	color: #A5A5A5;
}
#but4{
	position: absolute;
	background-color: #D54949;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    left: 360px;
    top: 340px;
}
#img2{

	position: absolute;
	top: 160px;
	right: 800px;
	bottom: 10px;
	left: 320px;
	width: 200px;
	height: 200;
}
#hola{

	position: fixed;
	left: 550px;
	top: 200px;
	font-family: Arial;
	color: #D94917;
	font-size: 30px;
	margin: 5px;
	padding: 5px;
	border-width: 20px;
	border-color: red;

}

#but5{
	position: absolute;
	background-color: #D54949;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    left: 510px;
    top: 400px;
}
#but6{
	position: absolute;
	background-color: #D54949;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    left: 530px;
    top: 300px;
}
 #but7{
 	position: absolute;
	background-color: #D54949;
    border: none;
    color: white;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    left: 330px;
    top: 350px;

 }

#but8{
	position: absolute;
	background-color: #D54949;
    border: none;
    color: white;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    left: 850px;
    top: 350px;
}

#t1{
	text-align: center;
	color: #D54949;
	padding-top: 80px;

}
#but9{

	position: relative;
	border: none;
	background-color: #D54949;
}
